pyyaml~=6.0
numpy~=1.23.1
pandas~=1.4.3
openpyxl~=3.0.10
python-dateutil~=2.8.2
plotly~=5.9.0
flask~=2.1.2
flask_sqlalchemy~=2.5.1
dash>=2.5.1
python-dotenv~=0.20.0
pandas_schema~=0.3.6
dash-extensions~=0.1.6