{% extends 'base.html' %}

{% block head %}
<title>Loan Matching</title>
{% endblock %}

{% block body %}
<h1>Loan Matching 2.0 - v22.9.19a</h1>
<a href="/dashboard_01/" class="dash-link">
    <span>Dashboard for matching 60% land costs with corporate loans (term & revolver)</span>
</a>
<br />
<br />
<a href="/dashboard_02/" class="dash-link">
    <span>New dashboard for matching 60% land costs with corporate loans (term & revolver)</span>
</a>
<br />
<br />
<a href="/dashboard_03/" class="dash-link">
    <span>Testing</span>
</a>
{% endblock %}