{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block body %}
<h1>Loan Matching 2.0 - v22.10.10</h1>

<h3>Dashboards for matching 60% land costs with corporate loans (term & revolver)</h3>
<div class="grid">
    <a class="box" href="/dashboard_01d/">
        <span>
            <b>Scheme: </b><br />
            Term ➜ <br />
            Committed Revolver ➜ <br />
            Uncommmited Revolver replacement ➜ <br />
            Equity <br />
        </span>
    </a>
    <!--
    <div class="square" onclick="location.href='/dashboard_01b/';">
        2nd instance
    </div>
    <div class="square" onclick="location.href='/dashboard_01c/';">
        Re-fractored with OOP
    </div>
    <div class="square" onclick="location.href='/dashboard_01d/';">
        With stored data after rematching, dashboard opened in different tabs won't share matching data.
    </div>
    -->

    <a class="box" href="/dashboard_04/">
        <span>
            <b>Scheme: </b><br />
            Set aside Committed Revolver ➜ <br />
            Term ➜ <br />
            Committed Revolver ➜ <br />
            Uncommmited Revolver replacement ➜ <br />
            Equity<br />
        </span>
    </a>

    <a class="box" href="/dashboard_05/">
        <span>
            <span style="color: red; font-weight: bold;">Latest!!</span> <br />
            <b>Scheme: </b><br />
            Manual Matching ➜ <br />
            Set aside Committed Revolver ➜ <br />
            Term ➜ <br />
            Committed Revolver ➜ <br />
            Uncommmited Revolver replacement ➜ <br />
            Equity<br />
        </span>
    </a>

</div>

<br />

<h3>Data management</h3>
<div class="grid">
    <a class="box" href="/upload_file/", style="aspect-ratio: 5/ 1;">
        <span>
            <b>Upload data files</b>
        </span>
    </a>
</div>

{% endblock %}