{% extends 'base.html' %}

{% block head %}
<title>Loan Matching</title>
{% endblock %}

{% block body %}
<h1>Loan Matching 2.0 - v22.9.26b</h1>
<span>
    <h3>
        <a href="/dashboard_01d/" class="dash-link">
            Dashboard for matching 60% land costs with corporate loans (term & revolver)
        </a>
    </h3>
    <ul>
        <li>
            Matching scheme: Term ➜ Committed Revolver ➜ Uncommmited Revolver replacement ➜ Equity
        </li>
        <!--
        <li>
            <a href="/dashboard_01b/" class="dash-link">
                2nd instance
            </a>
        </li>
        <li>
            <a href="/dashboard_01c/" class="dash-link">
                Re-fractored with OOP
            </a>
        </li>
        <li>
            <a href="/dashboard_01d/" class="dash-link">
                With stored data after rematching, dashboard opened in different tabs won't share matching data.
            </a>
        </li>
        -->
    </ul>

    <h3>
        <a href="/dashboard_04/" class="dash-link">
            Dashboard for matching 60% land costs with corporate loans (term & revolver) - with Committed Revolver Ceiling
        </a>
    </h3>
    <ul>
        <li>
            Matching scheme: Set aside Committed Revolver ➜ Term ➜ Committed Revolver ➜ Uncommmited Revolver replacement ➜ Equity
        </li>
    </ul>

    <h3>
        <a href="/dashboard_05/" class="dash-link">
            Dashboard for matching 60% land costs with corporate loans (term & revolver) - with Manual Matching and Committed Revolver Ceiling
        </a>
    </h3>
    <ul>
        <li>
            Matching scheme: Manual Matching ➜ Set aside Committed Revolver ➜ Term ➜ Committed Revolver ➜ Uncommmited Revolver replacement ➜ Equity
        </li>
    </ul>
</span>
<br />
{% endblock %}